/*
example for id class 
*/
body{
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    background: #9c5050;
    overflow-x: hidden;
}
#top{
    background: #555555;
    padding: 10px 0;
}
#top .offer{
    color: aqua;
}
#top .offer .btn{
    text-transform: uppercase;
}
@media(max-width:991px){
    #top .offer{
        margin-bottom: 10px;
    }
}
@media(max-width:991px){
    #top{
        font-size: 10px;
        text-align: center;
    }
}
#top a{
    color: burlywood;
}
#top ul.menu{
    padding-top: 5px;
    margin: 0px;
    text-align: right;
    font-size: 12px;
    list-style: none;
}
@media(max-width:991px){
    #top ul.menu{
        text-align: center;
    }
}
#top ul.menu > li{
    display: inline-block;
}
#top ul.menu >li a{
    color: chartreuse;
}
#top ul.menu > li + li:before{
    content: "|\00a0";
    color: #f7f7f7;
    padding:0 5px;

}

/*advantage*/
/* advantages Styles */

#advantages{
    text-align: center;
}
.box{
    background: #ffffff;
    margin: 0 0 30px;
    border: solid 1px #e6e6e6;
    box-sizing: border-box;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, .3);
}
#advantages .box .icon{
    position: absolute;
    font-size: 120px;
    width: 100%;
    text-align: center;
    top: -20px;
    left: 0px;
    height: 100%;
    float: left;
    color: #dadada;
    box-sizing: border-box;
    z-index: 1;
}
#advantages .box h3{
    position: relative;
    margin: 0 0 20px;
    font-weight: 300;
    text-transform: uppercase;
    z-index: 2;
}
#advantages .box h3 a{
    color: #4fbfa8;
}
#advantages .box h3 a:hover{
    text-decoration: none;
}
#advantages .box p{
    position: relative;
    z-index: 2;
    color: #555555;
}